@mixin center($top: null, $bot: null) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $top;
  margin-bottom: $bot;
}

@mixin rounded {
  border-radius: 7px;
}

// Used previously before making grid responsive on its own.
// Leaving here in case needed in the future.
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  @if $value == null {
    @warn "'#{$break}' is not a valid breakpoint name.";
  } @else {
    @media (min-width: $value) {
      @content;
    }
  }
}
