@mixin center($top: null, $bot: null) {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $top;
  margin-bottom: $bot;
}

@mixin rounded {
  border-radius: 7px;
}

@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  @if $value == null {
    @warn "'#{$break}' is not a valid breakpoint name.";
  } @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

// @mixin grid-width($items) {
//   max-width: calc-width($items, $thumb-width, $grid-col-gap);
//   grid-template-columns: repeat($items, minmax($thumb-width, 1fr));
// }
