#gallery {
  @include center(2rem, 2rem);
  @include grid-width(1);
  display: grid;
  grid-auto-rows: 1fr;
  gap: 32px $grid-col-gap;
  @include mq("med") {
    @include grid-width(3);
  }
  @include mq("lg") {
    @include grid-width(4);
  }
}
