#gallery {
  @include center;
  max-width: 900px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem 1.5rem;
}
